/* Color de fondo */
body {
  margin: 0;
  background-image: url('../imgs/fondo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Icono gato */
.icono-gato {
  color: #d8c9a0; 
  font-size: 5vw;
  margin-right: auto;
  transition: transform 0.3s ease;
  left: 10%;
  
}

.icono-gato:hover {
  transform: scale(1.2);
}

/* Barra de menú */
.menusticky {
  width: 93%;
  margin: 0% auto;
  position: sticky;
  top: 0;
  z-index: 1;
}

.menusticky ul {
  background-color: #3D3D3D;  
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.menusticky ul li {
  text-decoration: none;
  background-color: #3D3D3D;
  color: white;
  padding: 10px 2vw;
  margin: 1% 2%;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}


/*Estilo de los enlaces en el encabezado*/
.menusticky ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 2vw;
}


/*Estilo de los enlaces en el encabezado*/
.menusticky ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 10px 2vw;
}

/* Inicio */
.contenedor1 {
  width: 93%;
  height: auto;
  background-color: rgba(255, 250, 236, 0.90);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 0%;
  margin-top: 0%;
}

.contenedor1 .texto {
  width: 80%;
  text-align: center;
  color: #578E7E;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  margin-left: 100PX;
}

.contenedor1 .texto2 {
  width: 80%;
  border: none;
  text-align: center;
  color: #578E7E;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
  margin-left: 100PX;
}

.contenedor1 .imagen1{
  width: 80%;
  max-width: 400px;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  margin-left: 300px;

}
.contenedor1 .imagen2 {
  max-width: 600px;
  height: auto;
  border-radius: 8px;
  margin: 20px 0;
  display: flex;
  margin-left: 200px;
  align-self: normal;
}
/* Contenedor 2 */
.contenedor2 {
  width: 93%;
  height: 50%;
  background-color: rgba(245, 236, 213, 0.90);
 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}

.contenedor2 .texto3{
  width: 80%;
  text-align: center;
  color: #639788;
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  align-self: center;
 
}
.contenedor2 .texto4{
  width: 80%;
  border: none;
  text-align: center;
  color: #578E7E;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
  align-self: center;
}
.contenedor2 ul {
  
  list-style-type: square;
  align-self: center;
  font-size: large
  
}
.contenedor2 ul li{
  color: #578E7E;
}
.contenedor3 {
  width: 93%;
  height: 50%;
  background-color: rgba(87, 142, 126, 0.9);
  
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: -1;
}
.contenedor3 .texto5{
  width: 80%;
  border: none;
  color: #FFFAEC;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
  align-self: auto;
}
.contenedor3 .texto6{
  width: 80%;
  border: none;
  color: #FFFAEC;
  border-radius: 10px;
  padding: 10px;
  font-size: larger;
  align-self: center;
}
/* video sacado de: https://www.pexels.com/es-es/video/gato-negro-comiendo-855402/ */
.contenedor3 .video1{
  width: 600px; 
  
  
}
.contenedor4 {
  width: 93%;
  height: 50%;
  background-color: rgba(61, 61, 61, 0.9);
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;
  margin-bottom: 0%;

}
.contenedor4 .texto7{
  width: 80%;
  border: none;
  color: #FFFAEC;
  
  width: 80%;
  text-align: center;
 
  border-radius: 10px;
  padding: 10px;
  margin: 20px 0;
  margin-left: 100PX;
}
/*Galeria responsive*/
.contenedor4 .galeria {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  align-items: center;
}

.contenedor4 .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  padding: 10px;
}

.contenedor4 .columna {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
  box-sizing: border-box;
}

.contenedor4 .columna img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
  border-radius: 8px;
}


@media screen and (max-width: 1024px) {
  .contenedor4 .columna {
      flex: 50%;
      max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .contenedor4 .columna {
      flex: 100%;
      max-width: 100%;
  }
}

/* Pie de página */
footer {
  background-color: #3D3D3D;
  color: white;
  padding: 2rem 0;
  text-align: center;
  font-size: 1rem;
  position: relative;
  width: 93%; /* Asegura que el footer tenga el mismo ancho que el contenedor */
  margin: 0 auto; /* Centra el footer */
}

.footer-content {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.footer-links a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1.1rem;
  transition: color 0.3s ease;
}

.footer-links a:hover {
  color: #ff4d4d;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 768px) {
  footer .footer-content {
    flex-direction: column;
    text-align: center;
  }
  
  .footer-links {
    flex-direction: column;
    margin-top: 1.5rem;
  }

  .footer-links a {
    margin: 0.5rem 0;
  }
}
