/* Color de fondo */
body {
    margin: 0;
    background-image: url('../imgs/fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

.icono-gato {
    color: #d8c9a0;
    font-size: 50px;
    transition: transform 0.3s ease;
    margin-right: 10px;
}

.icono-gato:hover {
    transform: scale(1.2);
}

/* Barra de menú */
.menusticky {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #3D3D3D;
    z-index: 10;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.menusticky ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
}

.menusticky ul li {
    color: white;
    padding: 15px 20px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.menusticky ul li:hover, 
.menusticky ul li:focus {
    background-color: #ff4d4d;
    color: #fff;
}

.menusticky ul li.active {
    background-color: #ffadb8;
}

/* Sección de Inicio */
.contenedor1 {
    width: 90%;
    background-color: rgba(255, 250, 236, 0.90);
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    flex-wrap: wrap;
}

.contenedor1 .texto {
    width: 90%;
    max-width: 800px;
    color: #578E7E;
    padding: 10px;
}

.contenedor1 .texto2, 
.contenedor1 .texto3 {
    width: 90%;
    max-width: 800px;
    text-align: justify;
    color: #578E7E;
    padding: 10px;
    font-size: larger;
}

.contenedor1 .imagen1, 
.contenedor1 .imagen2 {
    width: 100%;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .contenedor1 {
        width: 95%;
        padding: 10px;
        flex-direction: column;
    }
    .contenedor1 .texto, 
    .contenedor1 .texto2, 
    .contenedor1 .texto3 {
        width: 100%;
        font-size: medium;
    }
    .contenedor1 .imagen1, 
    .contenedor1 .imagen2 {
        max-width: 100%;
        width: auto;
        height: auto;
    }
}

/* Segunda sección */
.contenedor2 {
    width: 90%;
    background-color: #F5ECD5;
    margin: 50px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}
